* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
/*HEADER*/
nav{
  background-color: #222831;
  padding: 0 12px;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Ensures the navbar stays on top of other content */
  background-color: #222831;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li{
  color: white;
  text-decoration:none;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
}
.logo{
  font-size: 20px;
  padding: 7px 9px 7px 0;
}

.menu li{
      padding: 10px;
}
.menu li:hover {
  color: #ccc;
}
ul {
  display: flex;
}
nav {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 760px){
  nav {
      flex-direction: column;
  }
  .menu ul {
      display: flex;
      flex-direction: column;
  }
}
.title-section{
  margin-top: 70px; 
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 500px;
    
}
.title{
  font-size: 3em;
  margin-top: 50px;
  text-align: center;
}
.btn-header{
    padding: 8px 15px 8px 15px;
    border-radius: 17px;
    background-color: #EEEEEE;
    
}

/*MainContent*/

.container-card{
max-width: 1200px;
margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 200px;
}
.card{
border: solid 1px black;
text-align: center;
}

.container-card{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 5px;
}
/*FOOTER*/

.copyright-footer{
margin-top: 100px;
padding: 10px;
text-align: center;
}